<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dart Scoring App</title>
    <!-- Linkelés a CSS fájlhoz -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to the Dart Scoring App!</h1>

    <div id="players-selection">
        <p>Select the number of players:</p>
        <div class="button-container">
            <button onclick="selectPlayers(1)">1 Player</button>
            <button onclick="selectPlayers(2)">2 Players</button>
            <button onclick="selectPlayers(3)">3 Players</button>
            <button onclick="selectPlayers(4)">4 Players</button>
        </div>
    </div>

    <!-- Linkelés a JavaScript fájlhoz -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
