<div id="players-selection">
    <p>Select the number of players:</p>
    <div class="button-container">
        <button onclick="selectPlayers(1)">1 Player</button>
        <button onclick="selectPlayers(2)">2 Players</button>
        <button onclick="selectPlayers(3)">3 Players</button>
        <button onclick="selectPlayers(4)">4 Players</button>
    </div>
</div>

<!-- A játékosok és pontjaik -->
<div id="players-display" style="display: none;"></div>

<div id="numbers-selection" style="display: none;">
    <div id="numbers" class="button-container"></div>
</div>


<!-- Jelenlegi játékos -->
<p id="player-turn"></p>

<!-- Linkelés a JavaScript fájlhoz -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
